.mat-toolbar{
    background-color: #3F51B5;
    color: white;
}

.mat-toolbar a{
    background-color: #3F51B5;
    color: white;
}

#menuTitle{
    font-size: medium;
    margin-right: 20px;    
}

.mat-toolbar{
    height: 60px;
}

.mat-sidenav{
    background-color: #3F51B5;
    width: 160px;
    color: white;
}

#menuIcon{
    color: white;
}

.side-nav-items{
   display: flexbox;
   flex-direction: column;
}

.side-menu-item{
    color: white !important;
    margin-top: 20px;
}

.main-content {
    margin: 20px;
}

@media (min-width: 900px) {
    #menuIcon{
        display: none;
    }   
    .mat-sidenav{
        display: none;
    } 
}

@media (max-width: 900px) {
    .top-menu-item{
        display: none;
    }    
}
/* 
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }
   */