
<mat-toolbar *ngIf="authService.isUserAuthenticated()" class="mat-toolbar" color="primary">

  <button *ngIf="authService.isUserAuthenticated()" mat-icon-button (click)="sidenav.toggle()"
  id="menuIcon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>  
  <span id="menuTitle">App Component</span>
  <a mat-button [routerLink]="['/home']" class="top-menu-item">Home</a>  
  <a mat-button [routerLink]="['/produtos']" class="top-menu-item">Produtos</a>
  <a mat-button [routerLink]="['/fornecedores']" class="top-menu-item">Fornecedores</a>

  <span class="example-spacer"></span>
  
  
  <div style="float: right;">
    <button *ngIf="authService.isUserAuthenticated()" mat-button 
    (click)="logout()">Logout <mat-icon>logout</mat-icon></button>
  </div>
    
</mat-toolbar>

<mat-sidenav-container *ngIf="authService.isUserAuthenticated()">
  <!--opened significa que vai ficar sempre abberto-->
  <!--fixedInViewport: preenche todo o conteudo da tela-->
  <!--mode: side: empurra o conteudo-->
  <!--mode: over: sobreponhe o conteudo-->
  <app-menu-user></app-menu-user>
  <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="60" mode="side">
     <div class="side-nav-items">
      <div>
          <a (click)="sidenav.close()" mat-button [routerLink]="['/home']" class="side-menu-item"><mat-icon>home</mat-icon> Home </a>
      </div>
      <div>
          <a (click)="sidenav.close()" mat-button [routerLink]="['/produtos']" class="side-menu-item"><mat-icon>people</mat-icon> Produtos </a>
      </div>
      <div>
        <a (click)="sidenav.close()" mat-button [routerLink]="['/fornecedores']" class="side-menu-item"><mat-icon>people</mat-icon> Fornecedores </a>
    </div>
     </div>
  </mat-sidenav>

  <mat-sidenav-content>
      <div class="main-content">
          <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet *ngIf="!authService.isUserAuthenticated()"></router-outlet>

<app-footer></app-footer>